body{
    padding: 0;
    margin: 0;
    background-color: #10181a;
}
.image1{
    width: 900px;
    height: 700px;
    margin-left: 240px;
}
.image2{
    width: 900px;
    height: 700px;
    margin-left: 240px;
}
.image3{
    width: 900px;
    height: 700px;
    margin-left: 240px;
}